/* .App {
  padding: 30px;
  display: flex;
}
.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}
.error__message {
  color: red;
  font-size: 12px;
}

.active__filter {
  background-color: orange;
}
.is__done {
  opacity: 0.5;
} */
.itemForm {
  display: flex;
}
.AddBoxIcon::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;

  width: 34px;
  height: 34px;
  margin: 2px 0px 0px 2px;
}
.AddBoxIcon:hover::before {
  background-color: rgb(8, 245, 19);
}
ul {
  list-style-type: none;
}
